platforms/
tmp/
node_modules/angular2/
node_modules/es6-shim/
node_modules/nativescript-angular/
node_modules/nativescript-dev-typescript/
node_modules/reflect-metadata/
node_modules/rxjs/
node_modules/tns-core-modules/
node_modules/typescript/
node_modules/zone.js/
.vscode/